@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  background-image: url("../images/cream_paper.jpg");
  background-position: center;
  background-repeat: repeat;
}
.white-paper {
  background-image: url("../images/white_paper.jpg");
  background-position: center;
  background-repeat: repeat;
}
/* Hide scrollbar for webkit-based browsers */
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
.row-container {
  display: flex;
  height: 50%;
  width: 100%;
}
.double-container {
  display: flex;
  height: 100%;
  width: 50%;
}
.menu-item {
  display: flex;
  height: 100%;
  width: calc(100% / 2);
}
.menu-item-wide {
  display: flex;
  height: 100%;
  width: 60%;
}
.menu-item-narrow {
  display: flex;
  height: 100%;
  width: 40%;
}
h1 {
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2.3rem;
  margin: 0;
  color: white;
}
p {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin: 0;
  color: white;
  text-align: center;
  padding-bottom: 3%;
}
h2 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  margin: 0;
  color: white;
  text-align: center;
}
h3 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin: 0;
  color: white;
  text-align: center;
}
h4 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  margin: 0;
  color: white;
  text-align: center;
}
.no-padding {
  padding: 0;
}
.mobile-padding {
  padding-top: 0%;
}
.yes-padding {
  padding: 2%;
}
.venmo-padding {
  padding: 3%;
}
.top-padding-subtle {
  padding-top: 1%;
}
.top-padding {
  padding-top: 4%;
}

.bottom-padding {
  padding-bottom: 6%;
}

/* hover and click styling effects */
.selected {
  opacity: 0.3;
}
.with-cursor {
}
.with-cursor:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}
.with-cursor:active {
  transform: scale(1, 1);
}
.no-cursor {
  cursor: default;
}
.all-gray {
  filter: grayscale(50%);
}
.all-gray:hover {
  filter: grayscale(00%);
}
.shadow {
  filter: drop-shadow(2px 3px 3px);
}
.display-none {
  display: none;
}

/* control images */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-content-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.center-content-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
img {
  max-height: 95%;
  max-width: 95%;
}
.img-large {
  max-height: 99%;
  max-width: 99%;
}
#madonna-inn {
  max-height: 100%;
  max-width: 100%;
}

/* colors */
.black {
  background-color: #000000;
}
.slate {
  background-color: #4a0808;
}
/* #333427 */
.red {
  background-color: #dc2b05;
}
.purple {
  background-color: #550670;
}
/* #540b57 */
.yellow {
  background-color: #f0d94d;
}
.green {
  background-color: #026c74;
}
.blue {
  background-color: #034c84;
}
/*  #2f5d52 */
.pink {
  background-color: #c0224f;
}
/* #bf2754 */
.paper1 {
  background-color: #fff5d5;
}
.paper2 {
  background-color: #f0ecdf;
}
.paper3 {
  background-color: #ded3c0;
}

/* make your page responsive */
@media screen and (max-width: 1300px) {
  h2 {
    font-size: 1.75rem;
  }

  .mobile-padding {
    padding-top: 4%;
  }
  #reception {
    max-width: 85%;
}

@media screen and (max-width: 600px) {
  .row-container {
    display: block;
    height: 90%;
    width: 100%;
  }
  .double-container {
    display: flex;
    height: 50%;
    width: 100%;
  }
  #extra {
    height: 60%;
  }
  h1 {
    font-size: 1.85rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.2rem;
    padding-bottom: 6%;
  }
}
